.app-editor-container#content {
	margin: 0;
	padding: 0 30px;
	width: 100%;
}

.app-editor#content {
	margin: 0;
	padding: 0;
	width: 100%;
}

.app-editor .editor-toolbar {
	padding-bottom: 10px;
}

#page_menu .nav {
	margin-top: 10px;
}

.build-info {
	display: none;
}

.app-editor-error {
	display: none;
}

.dynamic-form .form-group {
	margin-bottom: 0;
}
