.container .text-muted {
	text-align: right;	
}

.app-editor-container#content {
	margin: 0;
	padding: 0 30px;
	width: 100%;
}

.app-editor#content {
	margin: 0;
	padding: 0;
	width: 100%;
}

.app-editor .editor-toolbar {
	padding-bottom: 10px;
}

.object-tree .object-item {
	font-weight: bold;
}

.object-tree .array-item {
	font-weight: bold;
}

#page_menu .nav {
	margin-top: 10px;
}

.build-info {
	display: none;
}

.app-editor-error {
	display: none;
}

.dynamic-form .form-group {
	margin-bottom: 0;
}

.jumbotron {
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}

.jumbotron h1 {
	font-weight: bold;
}

.jumbotron-content {
	display: table;
	width: 100%;
}

.jumbotron-content-row {
	display: table-row;
}

.jumbotron-cell {
	display: table-cell;
	vertical-align: top;
}

.navbar-spacer {
	height: 60px;
}

.td-icon .fa {
	color: #999;
}

.td-icon:hover .fa {
	color: #eee;
}

.sidebar {
	top: 61px;
}
